.container {
  margin: 60px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
  border-radius: 25px;
}

th {
  text-align: left;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto }



html {
  background: url("https://lh3.googleusercontent.com/x5J5H2qIyQfen9SxqFrjb3qDz1e-yjiCeN3CUNnUadY=w1196-h894-no") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.submit {
  padding: 1em;
}


.search {
  margin: 48em auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
  border-radius: 25px;
}
