<div class="container">

  <form action="/games" method="Post">
    <input type="text" name="player1" placeholder="Player 1 Name">
    <input type="text" name="player2" placeholder="Player 2 Name">
    <input type="submit" value="ENTER" >
  </form>

</div>
