
<div class="container">
  <br>

<b>Final Scores!</b>

<p><%= "#{@game.player1}: #{@game.player1_score.to_s}" %></p>
<p><%= "#{@game.player2}: #{@game.player2_score.to_s}" %></p>

<h1><%= @message %> <h1>

</div>
