<div class="container">
  <div class="submit">
    <form action="/products" method="Post">
      <input type="text" name="search_terms" placeholder="Enter search terms..." size="40" >
      <br><br>
      <input type="submit" value="SUBMIT" >
    </form>
  </div>
</div>
