<div class="container">
  <div class="submit">
    <form action="/products" method="Post">
      <textarea name="search_terms" placeholder="Enter some search terms..."></textarea>
      <br><br>
      <input type="submit" value="SUBMIT" >
    </form>
  </div>
</div>
